:host() {
    margin: 5px;
    .container {
        position: relative;
        padding: 30px;
        border-radius: 10px;
        border: 2px solid rgb(207, 207, 207);
        .title {
            position: absolute;
            top: -15px;
            left: 8px;
            background: white;
            padding: 5px;
            font-size: 14px;
            display: block;
        }
    }
}