<div class="ray-trace-container">
    <app-ray-tracer [option]="option" [lookFrom]="cameraPosition" [focus]="focus" [numSamples]="samples" [maxDepth]="depth" [useBoundingBox]="useBoundingBox" [visualizeBox]="visualizeBox" [aperture]="aperture" [fov]="fov" [showSphere2]="showSphere2" [showSphere3]="showSphere3"></app-ray-tracer>
</div>
<div class="options-container">
    <app-control-group [title]="'Scene'">
        <app-control-group [title]="'Template'">
            <div class="input-container"><span class="input-label">Spheres</span><input type="radio" name="scene" checked="true" (change)="onChange('spheres')" /></div>
            <div class="input-container"><span class="input-label">Cornell Box</span><input type="radio" name="scene" (change)="onChange('cornellBox')" /></div>
        </app-control-group>
        <app-control-group [title]="'Items'">
            <div class="input-container"><span class="input-label">Item 2</span><input [(ngModel)]="showSphere2" type="checkbox" /></div>
            <div class="input-container"><span class="input-label">Item 3</span><input [(ngModel)]="showSphere3" type="checkbox" /></div>
        </app-control-group>
        <div class="input-container"><span class="input-label">Bounding Box </span><input type="checkbox" [(ngModel)]="useBoundingBox" /></div>
        <div class="input-container"><span class="input-label">Visualize Box </span><input type="checkbox" [(ngModel)]="visualizeBox" /></div>
    </app-control-group>
    <app-control-group [title]="'Camera'">
        <app-control-group [title]="'Look From'">
            <div class="input-container"><span class="input-label">X ({{cameraX}}):</span><input type="range" step="1" [min]="minX" [max]="maxX" [(ngModel)]="cameraX"></div>
            <div class="input-container"><span class="input-label">Y ({{cameraY}}):</span><input type="range" step="1" [min]="minY" [max]="maxY" [(ngModel)]="cameraY"></div>
            <div class="input-container"><span class="input-label">Z ({{cameraZ}}):</span><input type="range" step="1" [min]="minZ" [max]="maxZ" [(ngModel)]="cameraZ"></div>
            <div class="input-container"><span class="input-label">FOV ({{fov}}):</span><input type="range" step="5" [min]="minFov" [max]="maxFov" [(ngModel)]="fov"></div>
            <div class="input-container"><span class="input-label">Aperture ({{aperture.toFixed(2)}}):</span><input type="range" step="0.05" [min]="minAperture" [max]="maxAperture" [(ngModel)]="aperture"></div>
            <div class="input-container"><span class="input-label">Focal Distance ({{focus}}):</span><input type="range" step="10" [min]="minFocus" [max]="maxFocus" [(ngModel)]="focus"></div>
        </app-control-group>
    </app-control-group>
    <app-control-group [title]="'Samples and Depth'">
        <div class="input-container"><span class="input-label"># of Samples ({{samples}}): </span><input type="range" [min]="minSamples" [max]="maxSamples" [(ngModel)]="samples"></div>
        <div class="input-container"><span class="input-label">Max Depth ({{depth}}): </span><input type="range" [min]="minDepth" [max]="maxDepth" [(ngModel)]="depth"></div>
    </app-control-group>
    <app-control-group [title]="'Optimization'">
        <div class="input-container"><span class="input-label">Bounding Box </span><input type="checkbox" [(ngModel)]="useBoundingBox" /></div>
        <div class="input-container"><span class="input-label">Visualize Box </span><input type="checkbox" [(ngModel)]="visualizeBox" /></div>
    </app-control-group>
</div>
